/*Design Navbar and icons*/
.Navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.nav-item h4:hover {
  color: #accdac;
  cursor: pointer;
}

.nav-item h4 {
  font-size: 18px;
}
.icon-style {
  border: solid 10px #cfdbcf;
  background-color: #cfdbcf;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  transition: transform 0.2s;
}

.icon-style:hover {
  transform: scale(1.1);
}

/*Dropdown menu*/
ul {
  display: flex;
  flex-direction: column;
}

.li-item {
  margin-right: 16px;
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.li-item:hover {
  border-bottom: solid #accdac 3px;
  color: rgba(0, 0, 0, 0.383);
}
